@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2? family= Oswald:wght@300 & display=swap");

@font-face {
  font-family: "android";
  src: url("../fontes/idroid.otf") format("opentype");
  font-weight: normal;
}

:root {
  --cor0: #c1f2ac;
  --cor1: #8df063;
  --cor2: #6fbd4d;
  --cor3: #42702e;
  --cor4: #597050;
  --fonte-padrao: arial, verdana, helvetica, sans-serif;
  --fonte-destaque: "Oswald" cursive;
  --fonte-android: "android", cursive;
}
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgba(89, 131, 89, 0.491);
  font-family: var(--fonte-padrao);
}
a.externo::after{
    content: '\00A0\1F517';
}
header {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 152, 0, 0.514),
    rgb(4, 72, 4)
  );
  min-height: 150px;
  text-align: center;
  padding-top: 40px;
}
header > h1 {
  color: white;
  font-family: var(--fonte-destaque);
  margin-bottom: 20px;
  font-size: 3em;
  font-weight: normal;
  margin-bottom: 20px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.609);
}
header > p {
  color: white;
  font-family: var(--fonte-padrao);
  font-size: 1.2em;
  max-width: 500px;
  margin: auto;
  margin-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.609);
}
nav {
  background-color: rgb(4, 72, 4);
  padding: 10px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.498);
}
nav > a {
  color: rgb(9, 180, 77);
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition-duration: 0.5s;
}
nav > a:hover {
  background-color: var(--cor2);
  color: rgb(25, 129, 25);
}
main {
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 30px;
  background-color: white;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.62);
  border-radius: 0px 0px 10px 10px;
}

main h1 {
  color: rgba(2, 49, 2, 0.798);
  font-family: var(--fonte-android);
  font-weight: normal;
  font-size: 1.8em;
}
main h2 {
  font-family: var(--fonte-android);
  color: rgba(1, 88, 1, 0.772);
  font-size: 1.3em;
  background-image: linear-gradient(to right, rgba(56, 186, 56, 0.586),transparent);
  text-indent: 8px;
}
main p {
  margin: 15px 0px;
  text-align: justify;
  text-indent: 30px;
  line-height: 2em;
  font-size: 1em;
}
main strong {
    font-weight: bold;
    color: var(--cor3);
    padding: 2px 6px;
}
main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor4);
    background-color: var(--cor0);
    padding: 2px 6px;
}
main a:hover{
    text-decoration: underline;
    color: var(--cor3);
}

main img {
  width: 100%;
}
main img.pequena {
  max-width: 350px;
  display: block;
  margin: auto;
}
div.video{
    background-color: rgb(2, 71, 2);
    margin: 0px -10px 30px -10px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}
div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90% ;
    height: 90% ;
}
aside{
    background-color: var(--cor0);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.435);
}
aside > h3{
    background-color: #245f0ab7;
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer {
  background-color: var(--cor4);
  color: white;
  text-align: center;
  font-size: 0.8em;
  padding: 5px;
}
footer > a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    color: var(--cor0);
}
